<!DOCTYPE html>
<html>
  <head>
    <title>Font Awesome Icons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="orglog.css" />
    
  </head>
  <body>
    <div class="controls">
      <h1 id="sign-up">Sign Up</h1>
      <h1 id="sign-in">Sign In</h1>
    </div>

    <div class="container">
      <div class="form-container">
        <div class="sign-in">
          <form class="form_signIn"  method="post">
            <i class="fa fa-user" aria-hidden="true"></i>
            <h2>Sign In</h2>
            <input type="text" placeholder="username" class="box" />
            <input type="password" placeholder="password" class="box" />
            <input type="submit" value="Sign In" />
            <a href="#">Forgot password?</a>
          </form>
        </div>
        <div class="sign-up">
          <form class=""  method="post">
            <i class="fa fa-user" aria-hidden="true"></i>
            <h2>Sign Up</h2>
            <input type="text" placeholder="Organization name" class="box" />
            <input type="text" placeholder="Counsellor name" class="box" />
            <input type="email" placeholder="Concellor email" class="box" />
            <input type="password" placeholder="password" class="box" />
            <input type="passowrd" placeholder="Confirm password" class="box" />
            <input type="password" placeholder="password" class="box" />
            <input type="passowrd" placeholder="Confirm password" class="box" />
            <input type="date" placeholder="dob" id="birthday" name="birthday">
            <input type="text" placeholder="University" class="box" />

            <input type="submit" value="Sign In" />
            <a href="#">Forgot password?</a>
          </form>
        </div>
      </div>
      <div class="image-container">
        <div class="images">
          <img src="Mobile login.gif" />
          <img src="Forgot password.gif" />
        </div>
      </div>
    </div>
    <script src="js/Orglog.js"></script>
  </body>
</html>
