<!-- Created By CodingNepal - www.codingnepalweb.com  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP-9 Quiz</title>
    <link rel="stylesheet" href="css/quiz_style.css">
    <!-- FontAweome CDN Link for Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <!-- start Quiz button -->
    <div class="heading"><h3>Take the first step! Start with our mental health assessment test</h3></div>
    <div class="start_btn"><a href="/quiz1"><button>PHQ-9</button></a>
       <a href="/quiz2"><button>GAD-7</button></a> </div>

    

</body>
</html>